html {
  font-size: 100%;
}

body {
  font-size: 16px;
}

.btn {
  border: 0;
  padding: 0.5em 1em;
  background: #367bd0;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

.range-display {
  display: flex;
  align-items: center;
}

.mb-20 {
  margin-bottom: 20px;
}
